<div class="container">
<h1> ¿Qué perfi eres?</h1>
    <div class="row justify-content-center">
        
        <div class="selectB">
            <a class="btn btn-light" style="--bs-text-opacity: .5" role="button" href="/register/owner"> Soy
                Dueño</a>
            <a class="btn btn-light" style="--bs-text-opacity: .5" role="button" href="/register/care"> Soy Cuidador
            </a>
        </div>
    </div>
</div>
</div>