<div class="container">
    <div class="row justify-content-center">
        <h1> Información</h1>
        <br>
        <hr>
        <br>
        <img src="{{profilePic}}" class="rounded-circle shadow-lg p-3 mb-5 bg-light rounded"></img>
        <br>
        <hr>
        <br>
        {{email}}
        <br>
        <hr>
        <br>
        {{phone}}
        <br>
        <hr>
        <br>
    </div>
</div>