<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1> Edita aquí tu perfil!</h1>
            <div class="col-md-6">
                <form action="/profile/{{user._id}}/edit" method="POST">
                    <br>
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernamelInput" name="username" value="{{user.username}}">
                    <br>
                    <hr>
                    <br>
                    <label for="phoneInput" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phonelInput" name="phone" value="{{user.phone}}">
                    <br>
                    <hr>
                    <br>
                    <label for="descriptionInput" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="descriptionlInput" name="description" value="{{user.description}}"></textarea>
                    <br>
                    <hr>
                    <br>
                    <input class="btn btn-light" style="--bs-text-opacity: .5" role="button" type="submit"
                        value="Editar mi perfil">
                </form>
            </div>
        </div>
    </div>