img{
  width: 100%;
}
body {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-decoration-color: aliceblue;
  text-decoration-style: bold;
}

.brown {
  background-color:#A87985;
}

.blue {
  background-color: #D2B67D;
}
.green {
  background-color: #789996;
}
.violet{
  background-color: #B6A7A0;
}
.nav-link {
  color: aliceblue;
}
.form-label{
  color:aliceblue
}
a.nav-link:hover {
  color: rgba(125, 135, 143, 0.733)
}
.navbar{
  padding-top: 15px;
  padding-left: 14px;
  border-bottom: 4px solid white;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-top: 2rem; ;
 
  padding-left: 3.5rem;
}

.searchForm{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.under{
  color: aliceblue;
  font-weight: bold;
}

h1 {
  color: aliceblue;
  font-size: 60px;
  text-align: center;
  padding-bottom: 30px;
}
h2 {
  color: aliceblue;
  font-size:50px;
  text-align: center;
  padding: 1rem;
}
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) ;
}
.bg-light {
  --bs-bg-opacity: 0.1;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
}
.btn{
 color:aliceblue;
 background-color: transparent;
  border-color:aliceblue;
  padding: 20px;
  margin: 10px;
}
.col-lg-4{
  margin-bottom: 1.5rem;
  text-align: center;
}
.care-list{
  margin: 50px;
  padding: 20px;
  border: 0.5px aliceblue;
  border-radius: 3%;
  background-color: rgb(80, 144, 204);
}
.card{
  display: flex;
  justify-content: left;
  padding-left:10px;
border: 10px;
border-color: solid azure;
}
label{
  color: azure;
}
.col-lg-4 {
  width: 33.3%;
}
.pR{
  color:azure
}
.selectB{
  display: flex;
  justify-content: center;
}
.selectB .btn {
  width: 30%;

  padding: 30px;
  font-weight: 200;
  font-size: 1.9rem;
}
.selectB text{
  font-size: 80%;
}
.acceso .btn{
   font-size: 1.9rem;
}
.myImg {
  object-fit: cover;
}