<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Registrate como cuidador</h1>
            <hr>

            <form action="/register/care" method="POST" enctype="multipart/form-data">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="emailInput" class="form-label">Dirección de email</label>
                        <input type="email" class="form-control" id="emailInput" name="email">
                        <div class="form-text">Requerido.</div>
                    </div>
                    <div class="col">
                        <label for="pwdInput" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="pwdInput" name="password">
                        <div class="form-text">Requerido.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="usernameInput" name="username">
                    <div class="form-text">Requerido.</div>
                </div>

                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Descripción</label>
                    <textarea class="form-control" id="descriptionInput" rows="3" name="description"></textarea>
                    <div class="form-text">Requerido.</div>
                </div>

                <div class="mb-3">
                    <label for="phoneInput" class="form-label">Teléfono movil</label>
                    <textarea class="form-control" id="phoneInput" rows="3" name="phone"></textarea>
                    <div class="form-text">Requerido.</div>
                </div>

                <div class="mb-3">
                    <label> Selecciona que tipo de razas quieres cuidar:</label>
                    <select name="dogSize" multiple>
                        <option value="BIG"> Razas grandes</option>
                        <option value="MEDIUM" selected> Razas medianas</option>
                        <option value="SMALL"> Razas pequeñas</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Foto de perfil</label>
                    <input type="file" name="profilePic" class="form-control-file">
                   
                </div>


                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Completar registro</button>
                </div>
                
                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}
            </form>
        </div>
    </div>

</div>