
<div class="container">
    <div class="row justify-content-center">
        <div class="col 6 ">
            {{#each facts}}
            <div class="shadow-lg p-3 mb-5 bg-light rounded">
            <br>
           <h1> {{fact}}</h1>
            <br>
           </div>
            {{/each}}
            <p class="under">Dog Fact</p>
        </div>
    </div>
</div>
