<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1> Ahora registra a tu mejor amigo!</h1>
            <hr>

            <form action="/dog/create" method="POST" enctype="multipart/form-data">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="name" class="form-label">Nombre de tu peludo</label>
                        <input type="name" class="form-control" id="nameInput" name="name">
                        <div class="form-text">Requerido.</div>
                    </div>
                    <div class="col">
                        <label for="ageInput" class="form-label">Edad</label>
                        <input type="number" class="form-control" id="ageInput" name="age">
                        <div class="form-text">Requerido.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Descripción</label>
                    <textarea class="form-control" id="descriptionInput" rows="3" name="description"></textarea>
                    <div class="form-text">Requerido.</div>
                </div>

                <div class="mb-3">
                    <label> Selecciona que tipo de razas quieres cuidar:</label>
                    <select class="form-select" arial-labek="Default select example">
                        <option value="BIG"> Razas grandes</option>
                        <option value="MEDIUM" selected> Razas medianas</option>
                        <option value="SMALL"> Razas pequeñas</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="dogPicInput" class="form-label">Foto de perfil</label>
                    <input type="file" name="dogPic" class="form-control-file">
                    <div class="form-text">Requerido.</div>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-light" style="--bs-text-opacity: .5" role="button">Completar registro</button>

                </div>

            </form>
        </div>
    </div>

</div>