<div class="container">
    <div class="row justify-content-center">
        <h1> Edita aquí los datos de tu perrete</h1>

        <form action="/profile/{{user._id}}/edit/dog/{{dog._id}}" method="POST" style="display: inline-block;">

            <label>
                Name
                <input type="text" name="name">
            </label>
            <br>
            <hr>
            <br>
            <label>
                Age
                <input type="number" name="age">
            </label>
            <br>
            <hr>
            <br>
            <label>
                Description
                <textarea type="text" name="description"></textarea>
            </label>
            <br>
            <hr>
            <br>
            <input class="btn btn-light" style="--bs-text-opacity: .5" role="button" type="submit"
                value="Editar datos de mi perrete">

        </form>
    </div>
</div>