<div class="container">
    <div class="row justify-content-center">
        <h1> Edita aquí los datos de tu perrete</h1>

        <form action="/profile/{{user._id}}/edit/dog/{{dog._id}}" method="POST" style="display: inline-block;">

            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" name="name">
            <br>
            <hr>
            <br>
            <label for="ageInput" class="form-label">Age</label>
            <input type="number" class="form-control" id="ageInput" name="age">
            <br>
            <hr>
            <br>
            <label for="descriptionInput" class="form-label">Description</label>
            <textarea type="text" class="form-control" id="descriptionInput" name="description"></textarea>
            <br>
            <hr>
            <br>
            <input class="btn btn-light" style="--bs-text-opacity: .5" role="button" type="submit"
                value="Editar datos de mi perrete">

        </form>
    </div>
</div>